* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  margin: 2.5em 0;
}

.playground {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.05);
}

#meme-container {
  width: 480px;
  height: 360px;
  margin: 1.875em auto;
  border: 0.6em solid #fff;
  border-radius: 0.6em;
  background-image: url("../img/meme-img.png");
  background-size: cover;
}

.add-text {
  text-align: left;
  width: 240px;
  margin: 1.875em auto;
}

#file-select {
  margin: inherit;
}

.text-input {
  margin-bottom: 1.5em;
  width: 100%;
  height: 2.75em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  outline: none;
}

.text-input:focus {
  border: none;
  box-shadow: inset 0 0 3px #eb8bfc;
}

#save-button {
  width: 100%;
  height: 2.875em;
  line-height: 2.875em;
  background-color: #ef8896;
  border-radius: 6px;
  color: #fff;
  font-size: 1.125em;
}

#save-button:hover {
  background-color: #c96270;
  cursor: pointer;
}
